/* Flickr Embed */
a[data-flickr-embed="false"] > img {
    /* max-height: 384px; */
    height: 100%;
}

/* Youtube Embed */
.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.personal-links a {
    padding-left: 0;
}

.personal-links a:hover {
    color: #000;
}

.page .page-title {
    font-family: 'Roboto',"PT Sans", Helvetica, Arial, sans-serif;;
}

.photos {
    margin-top: 20px;
    display: inline-block;
}

.photos img {
    float: left;
    margin-left: 10px;
}

.photos a {
    display: inline-block;
    vertical-align: top;
}

.photo-page-container {
    max-width: 50em;
    margin-bottom: 7.5em;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 38em) {
    .photo-page-container {
        max-width: 36em;
    }
}
@media (min-width: 56em) {
    .photo-page-container {
        max-width: 54em;
    }
}

@media only screen and (max-width: 480px) {

    .photos img {
        margin-left: 0px;
        height: 100%;
    }
}
